@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Epilogue;
}

/* 
.container {
  width: 100%;
  padding: 0 140px;
} */

.site {
  width: 100%;
}

/* *****************LOGIN********************** */

#login,
#asign {
  width: 100%;
  height: 100vh;
  display: flex;
}

#login>img {
  width: 845px;
  height: 100vh;
  flex-shrink: 0;
}

#SecureImg {
  width: 845px;
  height: 100vh;
  background-image: url(..//Rectangle3463273.png);
  background-clip: inherit;
  background-size: cover;
}

#loginRight,
#asingRight {
  width: 40%;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FFF;
}

.title {
  color: #15140F;

  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  margin-top: 50px;
}

.title+span {
  color: #B4B2AD;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

.same {
  color: #15140F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}


.rightBox>form>input {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 16px 16px 10px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #15140F;
  margin-bottom: 16px;
  outline: none;
  color: #15140F;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

label {
  color: #15140F;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: block;
}

.rightBox {
  width: 445px;
}

.rightBox>form {
  width: 100%;
  margin-top: 30px;
}

.rightBox>form>label {
  color: #15140F;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

button[type='submit'] {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}

#remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#remember>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#remember>div>input[type='checkbox'],
#question>input[type='checkbox'],
.filterCatecory>div>input[type='radio'],
.addressCart>div>input,
#dfAddress>input {
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #d7d7d7;
  border-radius: 5px;
  cursor: pointer;
}

.filterCatecory>div>input[type='radio'],
.addressCart>div>input,
#dfAddress>input {
  background-color: transparent;
  border: 1px solid #15140F33;
  margin-right: 10px;
}

#remember>div>input[type='checkbox']:checked,
#question>input[type='checkbox']:checked,
.filterCatecory>div>input[type='radio']:checked,
.addressCart>div>input:checked,
#dfAddress>input:checked {
  background-color: #FEE747;
  background-image: url(..//public/check.svg);
}

.filterCatecory>div>input[type='radio']:checked,
.addressCart>div>input:checked,
#dfAddress>input:checked {
  border: 1px solid transparent;
}

#dfAddress>input:che #remember>div>label {
  color: #15140F;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#remember>div>a {
  color: #15140F;
  text-align: right;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* *************************************SIGNUP********************* */
#asignSecure {
  width: 845px;
  height: 100vh;
  background-image: url(..//Rectangle3463272.png);
  background-size: cover;
}

#question {
  display: flex;
  align-items: center;
  gap: 10px;

}

.rightBox>label {
  color: #15140F;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */

}

#question>label>a {
  color: var(--Primary-500, #FEE747);

  /* Body-1 Bold */

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

/* ****************************HEADER************************ */
header {
  z-index: 999;
}

#hed {
  width: 100%;
  height: 90px;
  padding: 0 12.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcon {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #FEE747;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 31px;
}

.contact {
  display: flex;
  gap: 16px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info span:nth-of-type(2) {
  color: #15140F;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
}

/* ******************************NAV**************************** */

nav {
  width: 100%;
  height: 76px;
  background: #FEE747;
  padding: 0 12.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#navLeft {
  width: 50%;
}

#navLeft>ul {
  display: flex;
  gap: 30px;
}

#navLeft>ul>li>a {
  color: #15140F;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

#navRight {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;

}

#navIcon {
  height: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#navIcon>img,
#navIcon>div>img {
  cursor: pointer;
}

#cartCount {
  width: 24px;
  height: 24px;
  position: relative;
}

#cartCount>div {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

#cartCount>div>span {
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  margin-top: 2px;
  display: block;
}

#headerButtons {
  width: 284px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

#headerButtons>button {
  width: 134px;
  height: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  outline: none;
  border: none;
  cursor: pointer;
}

#burgerDiv,
#navBar {
  display: none;
}

/* ************************FOOTER***************************** */
footer {
  width: 100%;
  height: 482px;
  background: rgba(180, 178, 173, 0.05);
  padding: 161px 12.5% 0;
}

#information {
  display: flex;
  justify-content: space-between;
}

#footerLeft {
  width: 35%;
}

#footerLeft>p {
  color: #15140F;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 16px 0 20px;
}

#footerCenter1,
#footerCenter2,
#footerRight {
  width: 20%;
}

.footerInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#end {
  width: 100%;
  height: 70px;
  border-top: 1px solid rgba(180, 178, 173, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

#end>span {
  display: block;

}

footer h3 {
  color: #15140F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}

#footerCenter1>ul,
#footerCenter2>ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footerCenter1>ul>li>a,
#footerCenter2>ul>li>a {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

#mediaIcons {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 20px;
}


/* *************************HOME-Hero******************************** */

#homeHero {
  width: 100%;
  height: 100vh;
  background-image: url(..//backgrounHome.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

#heroLeft {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 12.5%;
}

#heroLeft>h3 {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  /* 133.333% */
}

#heroLeft>p {
  color: #FFF;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

#heroLeft>button {
  width: 166px;
  height: 56px;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  cursor: pointer;
}

#heroRight {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 55px;
}

#heroRight img:first-of-type {
  z-index: 0;
}

#heroRight img:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  right: 12.5%;

}

/* ***********************HOMEPAGE2******************** */
#homepage2 {
  width: 100%;
  height: 135vh;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 6.5% 12.5% 0;
}

#titleDiv>h2 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 130% */
  margin: 10px 0;
}

#homePage2Left {
  width: 55%;
  padding-bottom: 125px;
}

#titleDiv {
  width: 560px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.homeBox {
  width: 270px;
  height: 262px;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
}

.homeBox:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.iconsBox {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#iconsBoxYellow {
  background-color: #fff;
}

.homeBox>h4 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 122.222% */
  margin: 20px 0 10px 0;
}

#yellowBox {
  border: none;
  background-color: #FEE747;
}




/* ************************************HOME-SERCICES********************** */
#HomeServices {
  width: 100%;
  padding: 6.5% 12.5% 6.5%;
}

.firstDivServices {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.divlinee {
  width: 1px;
  background-color: rgba(21, 20, 15, 0.20);
  height: 1050px;
}

#serviceBoxes {
  width: 100%;
  height: 1050px;
  display: flex;
  margin-top: 50px;
  position: relative;
  align-items: center;
  justify-content: space-between;

}

#serviceTitle>span {
  /* margin-top: 50px; */
  display: block;
}

#serviceTitle>h2 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 130% */
  margin-bottom: 10px;
}

.serviceSecuryImg {
  width: 100%;
}

.serviceBox {
  width: 352px;
  height: 100%;
  margin-top: 20px;
}

.serviceBox>div>h2 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
}

.serviceBox>div {
  width: 100%;
  height: 250px;
  padding: 20px 20px 20px 0;
  /* background-color: white; */
}


.serviceBox>div button {
  width: 133px;
  height: 56px;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}


/* ***********************************JOURNER************************ */

#journey {
  width: 100%;
  height: 426px;
  padding: 5% 12.5%;
  background: #FEE747;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

#journeyLeft {
  width: 45%;
}

#journeyRight {
  width: 40%;
}

#journeyBoxes {
  width: 100%;
  height: 100%;
  display: flex;
}

.joyrneyBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.joyrneyBox>div {
  width: 100%;
  height: 50%;
  padding: 20px 0;
}

.rowLine {
  border-bottom: 1px solid rgba(21, 20, 15, 0.20);
}

.colmnLine {
  border-right: 1px solid rgba(21, 20, 15, 0.20);
}

/* ***********************************HOME WORK************************************************** */
#work {
  width: 100%;
  display: flex;
  /* align-items: center; */
  gap: 50px;
  padding: 6.5% 12.5%;
  justify-content: space-between;
}

#workLeft {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 30px;

}

.thick {
  color: #15140F;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 130% */
}

.workBox {
  width: 560px;
  height: 87px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.workBox>h3 {
  color: #15140F;

  /* Header-7 Bold */
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 122.222% */
}

.workiconDiv {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FEE747;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ********************************HOME CLIENT************************************ */

#client {
  width: 100%;
  height: 574px;
  background: #FEE747;
  padding: 5% 12.5%;
}

#client>div>h2 {
  margin: 10px 0;
}

#clientBoxes {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.clientBox {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 30%;
}

strong {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: block;
}

.clientInfo {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.clientInfo>div>img {
  border-radius: 50%;
}

/* *************************HOME-BLOGS*************************** */
#homeBlogs {
  width: 100%;
  padding: 6.5% 12.5% 0;
}

#homeBlogs>h2,
.blogDate {
  margin: 10px 0;
}

#blogBoxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.blogBox {
  /* width: 367px;
  height: 500px; */
  cursor: pointer;
}

.blogBox>h3 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  margin-top: 20px;
}

.blogBox>button {
  width: 158px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.blogBox>h3 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
}

.blogDate {
  display: flex;
  align-items: center;
  gap: 6px;
}

.blogDate>span {
  color: #15140F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

/* *********************************CONTACT US********************************* */
#foot {
  margin-top: 100px;
  width: 100%;
  height: 85vh;
  position: relative;
  /* background-color: #B4B2AD; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contactUs {
  width: 100%;
  height: 222px;
  padding: 0 12.5%;
  position: absolute;
  margin-bottom: 375px;
}

#contactUs>div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #FEE747;
  display: flex;
  padding: 30px 50px;
}

#leftContact,
#rightContact {
  width: 50%;
}

#leftContact {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
}

#rightContact>div>input::placeholder {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  /* 187.5% */
}

#rightContact>div>input {
  width: 380px;
  height: 56px;
  padding: 13px 16px;
  border-radius: 10px;
  border: 1px solid #15140F;
  background-color: transparent;
  outline: none;
}

#rightContact {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightContact>div {
  width: 380px;
  position: relative;
}

#rightContact>div>button {
  width: 129px;
  height: 56px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 0);
}

/* ****************************ABOUT*************************************************** */
/* ************************************************************************************ */

#aboutHero,
#shopHero {
  width: 100%;
  height: 550px;
  background-image: url(..//Rectangle346242331.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle>div>span {
  color: #FFF;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.heroTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.heroTitle>div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.heroTitle>h2 {
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 130% */
}

/* ******************************ABOUT_SECURA*************************** */
#aboutSecura {
  width: 100%;
  padding: 6.5% 12.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#aboySecuraLeft {
  width: 48%;
}

#aboySecuraLeft>h2 {
  margin: 10px 0;
}

#aboySecuraLeft>button {
  width: 133px;
  height: 56px;
  border-radius: 10px;
  background: #FEE747;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

.contuactus {
  margin-top: 100px;
}

/* ************************TEAM*************************************** */
#team {
  width: 100%;
  padding: 0 12.5% 6.5%;
}

#teamBoxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 384px;
  align-items: center;
  gap: 20px;
}

.teamBox {
  margin-top: 50px;
}

.teamBox>div>h4 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  margin: 20px 0 10px;
}

/* ************************************************************************ */
/* ***************************SERVICES*************************************** */

#servicesHero {
  width: 100%;
  height: 550px;
  background-image: url(..//Rectangle346242332.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* **************************APPOINTMENT*************************/
#appointment {
  width: 100%;
  height: 565px;
  background: #FEE747;
  display: flex;
  padding: 5% 12.5%;
  gap: 50px;
  justify-content: space-between;
}

#appointmentLeft {
  width: 52%;
  height: 100%;
}

#appointmentRight {
  width: 50%;
  height: 100%;

}

#appointmentRight>form {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

#formDivTop {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#appointmentRight>form input {
  display: flex;
  width: 255px;
  height: 56px;
  padding: 16px 16px 10px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #15140F;
  background-color: transparent;
  outline: none;
  margin-top: 6px;
}

#appointmentRight>form input::placeholder,
#appointmentRight>form textarea::placeholder {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

#appointmentRight>form textarea {
  width: 530px;
  height: 94px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #15140F;
  background-color: transparent;
  padding: 16px;
  margin-top: 6px;
  outline: none;

}

#formDivBottom {
  margin-top: 20px;
}

#formDivBottom>button {
  width: 188px;
  height: 56px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}


/* ****************************************************************** */
/* *********************BLOGHERO************************************** */
#blogHero {
  width: 100%;
  height: 550px;
  background-image: url(..//Rectangle346242333.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
  column-gap: 20px;
  padding: 6.5% 12.5% 0;
  column-gap: 20px;
  row-gap: 30px;
}


/* ******************BLOGDETAIL*********************************** */
#bdetail {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  object-fit: cover;
}

.heroTitle {
  position: relative;
  z-index: 2;
  color: #fff;
}

#bdetail {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}



.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLink {
  cursor: pointer;
  color: #fff;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  color: #FFF;

  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.navLink:hover {
  transform: translateX(10px);
}

.arrow {
  transition: transform 0.3s ease;
  margin: 0 10px;
}

.navLink:hover .arrow {
  transform: translateX(5px);
}

.blogDetail {
  width: 100%;
  padding: 6.5% 12.5% 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bDetailLeft {
  width: 66%;
}

.desc {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.contextDiv {
  width: 100%;
  padding: 30px;
  border-left: 5px solid #FEE747;
  background-color: rgba(180, 178, 173, 0.10);
  margin: 30px 0;
}

.context {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.bdi {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.dthick {
  margin: 30px 0 20px;
}

.commentUserImage {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.commentBox {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
}

.commentUserImage img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.userInitial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.commentContent {
  flex: 1;
  margin-top: 10px;
}

.commentTitle {
  display: flex;
}

.commentTitle>div>h4 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
}

.commentContent>div>span {
  color: #15140F;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

.blogComments {
  width: 100%;
  margin-top: 6%;
}

#reply {
  width: 100%;
}

#reply>h3 {
  color: #15140F;
  margin: 50px 0 20px;

  /* Header-6 Bold */
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
}

#reply>form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#reply>form>div>input,
#reply>form>div>textarea {
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  width: 100%;
  outline: none;
  padding: 16px;
}

#reply>form>div>input {
  height: 56px;
}

#reply>form>div>textarea {
  height: 104px;
  resize: none;
}

#reply>form>button {
  width: 125px;
  height: 56px;
  outline: none;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  cursor: pointer;
}

.blogImage {
  width: 80px;
  height: 76px;
  border-radius: 8px;
  object-fit: cover;
}

#blogList {
  width: 340px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 55px 110px 0px rgba(0, 0, 0, 0.05), 0px 55px 110px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogBox2 {
  width: 100%;
  height: 96px;
  display: flex;
  gap: 16px;
  align-items: center;
}

#blogList .blogBox:not(#blogList .blogBox:last-of-type) {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(174, 180, 175, 0.20);

}

#blTitle {
  width: 534px;
}

.wh {
  color: #fff;
  text-align: center;
}

.blogDateTitle {
  height: 76px;
  display: flex;
  flex-direction: column;
}

#blogFilter {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blogDateTitle>h3 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.blogDateTitle>span {
  color: #15140F;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

#searchInput {
  width: 340px;
  height: 56px;
  position: relative;
}

#searchInput>input {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 1px solid var(--gray-gray-20, rgba(180, 178, 173, 0.20));
  outline: none;
  padding: 10px 20px 10px 60px;
}

#searchInput>img {
  position: absolute;
  top: 15px;
  left: 20px;
}

.categories {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 55px 110px 0px rgba(0, 0, 0, 0.05), 0px 55px 110px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.categories h3 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
}

.categoryItem {
  padding: 16px 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
}

.categoryItem:last-child {
  border-bottom: none;
}

.categoryItem.selected {
  background-color: #f0f0f0;
  font-weight: bold;
}

.categoryItem:hover {
  background-color: #f9f9f9;
}

/* ****************************************************************** */
/* ********************SHOP****************************************** */

#productPage {
  width: 100%;
  display: flex;
  padding: 50px 12.5%;
  gap: 50px;
}

#shopTitle {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

#shopTitle div:first-of-type {
  display: flex;
  align-items: center;
  gap: 20px;
}

#shopTitle div:nth-of-type(2) {
  display: flex;
  align-items: center;
  width: 138px;
  gap: 5px;
  cursor: pointer;
}

.shopBoxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.imgDiv {
  width: 262px;
  height: 330px;
  border: 1px solid rgba(21, 20, 15, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgDiv>img {
  width: 190px;
  height: 190px;
}

.shopIcons {
  width: 40px;
  height: 140px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  transition: all 0.3s ease-in;

}

.shopIcon1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
}


.shopBox {
  width: 262px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.shopBox>div>h3 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  transition: all 0.3s ease-in-out;
}

.shopBox:hover .imgDiv {
  background: rgba(180, 178, 173, 0.10);
}

.shopBox:hover .shopIcons {
  visibility: visible;
}

.filterLabel {
  color: var(--Dark-500, #15140F);
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}


.priceRange {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.priceRange input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  pointer-events: none;
  height: 3px;
  background: #FEE747;
  border-radius: 5px;
  outline: none;
}

.priceRange input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FEE747;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
}

.priceRange input[type="range"].thumb--left::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
}

.priceRange input[type="range"].thumb--right::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
}

/* For Firefox */
.priceRange input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FEE747;
  cursor: pointer;
  border: none;
}

.priceRange input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #FEE747;
  border-radius: 5px;
  outline: none;
}

.priceRange input[type="range"]::-ms-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FEE747;
  cursor: pointer;
  border: none;
}

.priceRange input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  background: #FEE747;
  border-radius: 5px;
  outline: none;
  border: none;
  color: transparent;
}

/* ***********************PRODUCT*************************** */
#product {
  width: 100%;
  display: flex;
  padding: 100px 12.5%;
  gap: 50px;
}

#leftProduct {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#bigImg {
  border: 1px solid rgba(21, 20, 15, 0.10);
  width: 555px;
  height: 555px;
  padding: 160px;
}

#bigImg>img,
.fourImages>img {
  width: 100%;
  height: 100%;

}

.fourImages {
  width: 123px;
  height: 123px;
  border: 1px solid rgba(21, 20, 15, 0.10);
  cursor: pointer;
  padding: 25px;
}

.productImageBox {
  display: flex;
  gap: 20px;
}

#rightProduct {
  width: 50%;
  height: 700px;
  position: relative;
}

.brand,
.productPrice {
  color: #15140F;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.productPrice {
  margin-top: 12px;
  display: block;
}

#stockDiv {
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
}

.greenDiv,
.redDiv {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 6px 10px;
}

.greenDiv {
  background: rgba(60, 209, 57, 0.10);
}

.greenDiv>span {
  color: #3CD139;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.redDiv {
  background: rgba(209, 57, 80, 0.1);

}

.redDiv>span {
  color: #d13939;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.productName {
  color: #15140F;
  font-family: Epilogue;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  /* 113.333% */
  margin: 10px 0;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
}

.productRating>div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.productRating>div>span {
  color: #B4B2AD;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

#rightProduct>table {
  width: 100%;
}

tr td:first-of-type,
#shere {
  width: 20%;
  color: #15140F;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

#rightProduct>table>tbody>tr>td {
  padding: 8px 0;
}

.productDescription {
  width: 100%;
  margin: 20px 0;
}

.productButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productButtons>div {
  display: flex;
  align-items: center;
}

.productButtons>div>button,
.productButtons>div input {
  width: 40px;
  height: 56px;
  outline: none;
  border: 1px solid rgba(180, 178, 173, 0.20);
  background-color: #fff;

}

.productButtons>div button:first-of-type {
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}

.productButtons>div button:nth-of-type(2) {
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.productButtons>div input {
  text-align: center;
}

.addButton {
  width: 339px;
  height: 56px;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  outline: none;
  cursor: pointer;
}

.favoriteButton {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background: rgba(180, 178, 173, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.media {
  display: flex;
  gap: 16px;
  align-items: center;
}

.media>div {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#shereMedia {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ***************DESCTIPTION REVIEW**************************** */
#comments {
  width: 100%;
  padding: 0 12%;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #B4B2AD;
}

.description {
  padding: 20px 12.5%;
}

#comments>div>a>span {
  display: block;
  height: 100%;
  padding: 10px 0 20px;
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 120% */
}

.reviewCard {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
}

.active-link span {
  color: #FEE747 !important;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 3px solid #FEE747;
}

.review {
  width: 100%;
  padding: 10px 12.5% 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review>h3 {
  margin-top: 20px;
}

.review>h3,
#reviewForm>h3 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

#reviewForm>h3 {
  margin: 30px 0 20px;
}

.reviewDate {
  display: flex;
  gap: 3px;
  /* margin-top: 10px; */
}

.reviewTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
}

.reviewTitle>div {
  display: flex;
  flex-direction: column;
  gap: 6px;

}

.gray {
  color: #B4B2AD;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

.gray+span {
  color: #15140F;

  /* Body-2 Regular */
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.ratingStars {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.star {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#reviewForm {
  width: 100%;
}

#reviewForm>form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#reviewForm>form>label {
  color: #15140F;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 20px;
}

#reviewForm>form>input,
#reviewForm>form>textarea {
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  outline: none;
}

#reviewForm>form>textarea {
  height: 104px;
  resize: none;
}

#reviewForm>form>input::placeholder {
  color: rgba(180, 178, 173, 0.80);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#reviewForm>form>button {
  width: 139px;
  height: 56px;
}

#relatedProducts {
  width: 100%;
  padding: 100px 12.5% 0;
}

.products-grid {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

/* ******************ProductCategories***************************** */
.filterProduct {
  width: 23%;

}

.filterTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 30px;
}

.ft {
  margin-top: 30px;
}

.filterCatecory {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.filterRange {
  flex-direction: column;

}

.filterCatecory>div {
  display: flex;
  align-items: center;
  height: 30px;
}

.filterCatecory>div,
.filterCatecory>span {
  padding: 16px 0;
}

#range {
  flex-direction: column;
  justify-content: flex-start;
}

#range>input {
  width: 100%;
  color: #FEE747;
}

#products {
  width: 80%;
}

/* **************************CARD********************************** */
#cardWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(21, 20, 15, 0.10);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 500;
  transition: all 0.5s ease-in;
}

#card {
  width: 365px;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

#productsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

#productsCard>.same {
  display: inline-flex;
  gap: 5px;
}

.cardImgDiv {
  width: 90px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImgDiv>img {
  width: 100%;
  height: 100%;
}

.cardInfo {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.cardInfo>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardBox {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
}

.deleteIcon {
  cursor: pointer;
}

#cartBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#cartBottom>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#cartBottom>div>span {
  color: #15140F;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
}

#cartBottom button {
  width: 312px;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 10px;
}

#cartBottom button:first-of-type {
  background: rgba(180, 178, 173, 0.10);
}

#cartBottom button:nth-of-type(2) {
  background: #FEE747;

}

/* *************************CHECKOUT**************************** */
#checkoutWrapper {
  width: 100%;
  padding: 50px 12.5% 0;
}

#checkout_hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#checkoutItems {
  width: 63%;
}

#imageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

#checkoutItems>table>tbody>tr td:first-of-type {
  width: 45%;
}

#checkoutItems>table>tbody>tr td:nth-of-type(2),
#checkoutItems>table>tbody>tr td:nth-of-type(3),
#checkoutItems>table>tbody>tr td:nth-of-type(4) {
  width: 15%;
}

#checkoutItems>table>tbody>tr td:nth-of-type(5) {
  width: 4%;
}

#checkoutItems>table>tbody,
#checkoutItems>table>thead {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#checkoutItems>table td {
  text-align: start;
  padding: 20px 0;
}

#checkoutItems>table th {
  text-align: start;
  padding-bottom: 10px;
}

#checkoutItems>table tr {
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
}

.ch_productInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  padding: 20px 0;

}


#shopCard {
  width: 360px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 55px 110px 0px rgba(0, 0, 0, 0.05), 0px 55px 110px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  gap: 16px;
}

#shopCard>button {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  outline: none;
  cursor: pointer;
}

.codeDiv,
.code_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

}

.codeDiv {
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
}

.codeDiv>h4 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
}

#checkoutLbl {
  color: #15140F;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

#checkoutLbl+div>input {
  width: 320px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  padding: 16px 16px 10px 16px;
  outline: none;
}

#checkoutLbl+div {
  width: 100%;
  height: 56px;
  position: relative;
}

#checkoutLbl+div>button {
  width: 102px;
  height: 56px;
  border-radius: 0px 10px 10px 0px;
  background: #FEE747;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 0);
  cursor: pointer;
}

#checkoutTotal {
  width: 32%;
}

.del {
  cursor: pointer;
}

/* ******************SHOP_ADDRESS******************************* */


#shopAddress {
  width: 100%;
  padding: 50px 12.5%;

}

.right-page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  height: 80px;
  width: 700px;
}

.addressHero {
  width: 100%;

}

.address {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

.shopIcon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(180, 178, 173, 0.10);

}

.line,
.line2 {
  width: 290px;
  height: 1px;
  border: 1px dashed rgba(180, 178, 173, 0.10);
  position: absolute;
  z-index: -1;
  top: 20%;
  transform: translateX(-100%);
}

.line2 {
  transform: translateX(-95%);

}

.step.active .shopIcon {
  background-color: #FEE747;
}

.step.active .line,
.step.active .line2 {
  border: 1px dashed #FEE747;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* *************************ADDRESS************************** */
#addressHero {
  width: 700px;
}

#addressCards {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.addressCart {
  width: 335px;
  height: 171px;
  border-radius: 10px;
  background: rgba(180, 178, 173, 0.05);
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 20px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addressButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addressButtons button {
  display: flex;
  width: 141px;
  height: 34px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.addressButtons button:first-of-type {
  background: rgba(180, 178, 173, 0.10);
  color: #15140F;
}

.addressButtons button:nth-of-type(2) {
  background: rgba(255, 114, 98, 0.10);
  color: #FF7262;
}

.deliverBtn {
  display: flex;
  width: 320px;
  height: 56px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #FEE747;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 30px 0;
}

.addInfo {
  padding-right: 9px;
  margin: 15px 0 6px;
}

#newAddress {
  width: 100%;
  padding: 30px 0 0;
}

#newAddress>form>div>label {
  color: #15140F;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

#newAddress>form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#newAddress>form>div>input[type="text"],
.custom-select {
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  width: 100%;
  height: 56px;
  padding: 13px 20px;
  outline: none;
  color: #15140F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

#newAddress>form>div:not(#newAddress>form>div:last-of-type) {
  display: flex;
  flex-direction: column;
}

#dfAddress {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

#dfAddress>span {
  color: #15140F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

#newAddress>form>button {
  width: 320px;
  height: 56px;
  border-radius: 10px;
  background: #FEE747;
  outline: none;
  border: none;
}

.sm {
  line-height: 22px;
}

#method {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#method>div>input:not(input[type='checkbox']) {
  width: 100%;
  height: 56px;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  outline: none;
}

#date {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

#date div>label {
  color: #15140F;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: block;
}

#date>div {
  width: 340px;
  display: flex;
  flex-direction: column;
}

#date div>input {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  padding: 13px 20px;
  outline: none;
}

.radio {
  appearance: none;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid transparent;
  outline: 3px solid #d7d7d7;
  cursor: pointer;
}

.radio:checked {
  background-color: #FEE747;
  border: 4px solid white;
  outline: 3px solid #FEE747;
}

.dbcard {
  width: 100%;
  display: flex;
  align-self: center;
  gap: 16px;
  padding: 25px 0;
  border-top: 1px solid rgba(180, 178, 173, 0.20);
}

#debet {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 30px;
}

#sa {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

#sa>h3 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
}

#sa>h4 {
  color: #15140F;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.edit {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: rgba(180, 178, 173, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 20px;
}

#orders {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(21, 20, 15, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 500;
  transition: all 0.5s ease-in;

}

#order {
  width: 412px;
  height: 458px;
  border-radius: 20px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  background: #FFF;
  box-shadow: 0px 10px 40px -4px rgba(16, 24, 40, 0.02), 0px 8px 8px -4px rgba(16, 24, 40, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 20px 20px;
}

#yDiv {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEE747;
  margin-bottom: 42px;
}

#order>div>h3 {
  margin-top: 10px;
  color: #15140F;
  text-align: center;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
}

#order>div>span {
  display: block;
  text-align: center;
}

.whiteBtn,
.ybtn {
  width: 372px;
  height: 52px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.whiteBtn {
  background: rgba(180, 178, 173, 0.10);
}

.ybtn {
  background-color: #FEE747;
}

#orBtn {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* *************************ContuctUs**************************** */
#contactAs {
  width: 100%;
  height: 550px;
  background-image: url(..//Rectangle346242334.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#touch {
  width: 100%;
  padding: 100px 12.5% 0;
  display: flex;
  justify-content: space-between;
}

#touchLeft {
  width: 555px;

}

#touchLeft>p {
  color: #B4B2AD;

  /* Body-1 Regular */
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

.divYellow {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background-color: #FEE747;
  display: flex;
  align-items: center;
  justify-content: center;

}

.touchBox {
  width: 100%;
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(180, 178, 173, 0.20);
  margin-top: 30px;
}

.touchBox>div>span,
.touchBox>span {
  display: block;
}

#socialDiv {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

#touchLine {
  width: 1px;
  height: 551px;
  background-color: rgba(180, 178, 173, 0.20);
}


#touchForm {
  width: 484px;
  height: 551px;
  border-radius: 16px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  background: #FFF;
  box-shadow: 0px 55px 110px 0px rgba(0, 0, 0, 0.05), 0px 55px 110px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#touchForm>form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#touchForm>form>div>input,
#touchForm>form>div>textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(180, 178, 173, 0.20);
  padding: 16px;
  outline: none;
}

#touchForm>form>div>input {
  height: 56px;
}

#touchForm>form>div>textarea {
  height: 104px;
  resize: none;
}

#touchForm>form>button {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  background: #FEE747;
  border: none;
  outline: none;
}

/* ********************PRIVACY_POLICY****************************** */
#privacyPolicy {
  width: 100%;
  height: 550px;
  background-image: url(..//Rectangle346242334.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 100%;
}

.text>div>p {
  color: #15140F;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.text>div>span {
  color: #15140F;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  display: block;
  margin-top: 20px;
}

.informarion {
  width: 100%;
  padding: 100px 12.5% 0;
}

/* **********************Terms & Conditions************************ */
#termsConditions {
  width: 100%;
  height: 550px;
  background-image: url(..//Rectangle346242336.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* **************************************************************** */
/* **************************************************************** */
/* *************************TABLET********************************* */




@media (max-width: 960px) {

  #hed,
  nav {
    width: 100%;
    padding: 0 5.5%;
  }

  #navLeft>.navUl {
    display: none;
  }

  #navBar {
    width: 50%;
    height: 100vh;
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    left: -50%;
    width: 50%;
    padding: 50px 30px;
    background-color: #FEE747;
    transition: left 0.3s;
    z-index: 999;
    position: fixed;

  }

  #navBar>ul>li a {
    line-height: 20px;
    display: block;
    padding: 15px;
    display: block;
    border-bottom: 1px solid #B4B2AD;
    color: #15140F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  #navBar>ul {
    margin-top: 50px;
  }

  #burgerDiv {
    display: block;
  }

  #navBar.open {
    left: 0;
  }

  #closeDiv {
    width: 30px;
    height: 30px;
  }

  /* ***********HOME*************** */
  .padding {
    padding: 0 50px;
  }

  #homeHero {
    width: 100%;
    background-position: center;
    display: block;
  }

  #heroLeft {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
  }

  #heroRight {
    display: none;
  }

  /* ********************home-pahe2************* */

  #homepage2 {
    width: 100%;
    height: 150vh;
    padding: 6% 5.5%;
    display: block;
    /* background-color: #d13939; */
  }

  #homePage2Left {
    width: 100%;

  }

  #titleDiv {
    width: 100%;
  }

  .homeBox {
    width: 48%;
    height: 280px;
    padding: 30px 40px 30px 30px;
  }

  #homePage2Right {
    display: none;
  }

  /* **************SERVICES************ */
  #HomeServices {
    height: 315vh;
    padding: 0 5.5% 4%;
  }

  .firstDivServices {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 50%;
  }

  #serviceBoxes {
    flex-wrap: wrap;
    gap: 20px;
  }

  .serviceBox {
    width: 50%;
  }

  .divlinee {
    width: 100%;
    background-color: rgba(21, 20, 15, 0.20);
    height: 1px;
    margin-top: 40px;
  }


  /* **************JOURNEY***************** */
  #journey {
    padding: 0 5.5%;
    height: 500px;
  }

  #journeyLeft>h2,
  #journeyRight h3 {
    font-size: 35px;
    margin: 10px 0;

  }

  /* *************WORK****************** */
  #work {
    padding: 50px;
    display: block;
  }

  #workLeft {
    width: 100%;
  }

  #wirkRight {
    margin-top: 20px;
  }

  #wirkRight>img {

    width: 100%;
    height: 100vh;
  }

  /* ****************HOME-BLOGS************* */
  #homeBlogs {
    padding: 50px;
    height: 250vh;
  }


  #blogBoxes {
    grid-template-columns: repeat(2, 367px);
    grid-template-rows: 500px;
    row-gap: 30px;

  }

  /* ***************CLIENT*********************** */
  #client {
    display: none;
  }

  /* *******************FOOTER********************* */
  footer {
    padding: 50px 50px 0;
    height: 382px;
    margin-bottom: 0;
  }

  #foot {
    height: 50vh;
  }

  #contactUs {
    padding: 0 50px;
    margin-top: 0;
  }

  #leftContact {
    width: 100%;
    gap: 0;
  }

  #leftContact>h2 {
    font-size: 32px;
  }

  #leftContact>span,
  #leftContact>p {
    font-size: 13px;
  }

  #contactUs>div {
    margin-top: 0;
    padding: 20px;
  }

  #rightContact>div>input {
    width: 280px;
  }

  #rightContact>div>button {
    width: 100px;
  }
}